BanchubPayment/Service References/TestPaymentService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BancHub" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Authorize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="userdetails" nillable="true" type="q1:Userdetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="merchatnKey" nillable="true" type="q2:AuthorizeKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizeKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q3:Header" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="carddetails" nillable="true" type="q4:CardDetails" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="transactiondetails" nillable="true" type="q5:TransactionDetails" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="billingaddress" nillable="true" type="q6:BillingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="CardPaymentResult" nillable="true" type="q7:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q8:Header" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="carddetails" nillable="true" type="q9:CardTokenDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetCardTokenResult" nillable="true" type="q10:TokenStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardTokenPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q11:Header" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="tokendetails" nillable="true" type="q12:CardPaymentTokenDetails" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="transactiondetails" nillable="true" type="q13:TransactionDetails" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="billingaddress" nillable="true" type="q14:BillingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardTokenPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="CardTokenPaymentResult" nillable="true" type="q15:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureCardPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q16:Header" />
        <xs:element minOccurs="0" name="transactionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureCardPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="CaptureCardPaymentResult" nillable="true" type="q17:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AchAccountPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q18:Header" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="achaccountdetails" nillable="true" type="q19:AchAccountDetails" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="billingaddress" nillable="true" type="q20:BillingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AchAccountPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="AchAccountPaymentResult" nillable="true" type="q21:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q22:Header" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="accountdetails" nillable="true" type="q23:BankAccountTokenDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetBankAccountTokenResult" nillable="true" type="q24:TokenStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AchTokenAccountPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q25:Header" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="achaccountdetails" nillable="true" type="q26:AccountPaymentTokenDetails" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="billingaddress" nillable="true" type="q27:BillingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AchTokenAccountPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="AchTokenAccountPaymentResult" nillable="true" type="q28:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AchCheckPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q29:Header" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="achcheckdetails" nillable="true" type="q30:AchCheckDetails" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="billingaddress" nillable="true" type="q31:BillingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AchCheckPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="AchCheckPaymentResult" nillable="true" type="q32:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AchInternationalPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q33:Header" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="achinterdetails" nillable="true" type="q34:AchInternationalDetails" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="billingaddress" nillable="true" type="q35:BillingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AchInternationalPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="AchInternationalPaymentResult" nillable="true" type="q36:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentCurrentStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q37:Header" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="transactionid" nillable="true" type="q38:TransactionIdDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentCurrentStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="PaymentCurrentStatusResult" nillable="true" type="q39:ArrayOfCurrentStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentRefund">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q40:Header" />
        <xs:element minOccurs="0" name="transactionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentRefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="PaymentRefundResult" nillable="true" type="q41:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentCancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q42:Header" />
        <xs:element minOccurs="0" name="transactionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentCancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="PaymentCancelResult" nillable="true" type="q43:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCardDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q44:Header" />
        <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCardDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateCardDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q45:Header" />
        <xs:element minOccurs="0" name="routingNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBankNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q46:Header" />
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCardTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q47:Header" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="transactionid" nillable="true" type="q48:TransactionIdDetails" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="refType" type="q49:RefernceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetTransactionDetailsResult" nillable="true" type="q50:ArrayOfTransDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SepaAccountPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q51:Header" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="accountdetails" nillable="true" type="q52:SepaAccountDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SepaAccountPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="SepaAccountPaymentResult" nillable="true" type="q53:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SepaCheckPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q54:Header" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="checkdetails" nillable="true" type="q55:SepaCheckRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SepaCheckPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="SepaCheckPaymentResult" nillable="true" type="q56:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SepaAccountExchangePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q57:Header" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="accountexchangedetails" nillable="true" type="q58:SepaAccountExchangeDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SepaAccountExchangePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="SepaAccountExchangePaymentResult" nillable="true" type="q59:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SepaCheckExchangePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q60:Header" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="checkexchangedetails" nillable="true" type="q61:SepaCheckExchangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SepaCheckExchangePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="SepaCheckExchangePaymentResult" nillable="true" type="q62:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SEPAPaymentReversal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="prrequest" nillable="true" type="q63:SEPAPaymentReversalRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SEPAPaymentReversalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="SEPAPaymentReversalResult" nillable="true" type="q64:SEPAPaymentReversalResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SEPAPaymentCancellation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="pcrequest" nillable="true" type="q65:SEPAPaymentCancellationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SEPAPaymentCancellationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="SEPAPaymentCancellationResult" nillable="true" type="q66:SEPAPaymentCancellationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BacsPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q67:Header" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="accountinfo" nillable="true" type="q68:AccountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BacsPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="BacsPaymentResult" nillable="true" type="q69:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q70:Header" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="password" nillable="true" type="q71:ArrayOfchar" />
        <xs:element minOccurs="0" name="institutionType" nillable="true" type="xs:string" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="options" nillable="true" type="q72:AddUserOptions" />
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="api" type="q73:ApiType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="AddUserResult" nillable="true" type="q74:AuthItemResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserDeviceMask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q75:Header" />
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceMask" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isUpdate" type="xs:boolean" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="api" type="q76:ApiType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserDeviceMaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="AuthenticateUserDeviceMaskResult" nillable="true" type="q77:AuthResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserDeliveryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q78:Header" />
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="deliveryType" nillable="true" type="q79:DeliveryType" />
        <xs:element minOccurs="0" name="isUpdate" type="xs:boolean" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="api" type="q80:ApiType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserDeliveryTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="AuthenticateUserDeliveryTypeResult" nillable="true" type="q81:AuthResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserMfa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q82:Header" />
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isUpdate" type="xs:boolean" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="api" type="q83:ApiType" />
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="mfaValues" nillable="true" type="q84:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserMfaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="AuthenticateUserMfaResult" nillable="true" type="q85:AuthResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q86:Header" />
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="api" type="q87:ApiType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="DeleteUserResult" nillable="true" type="q88:DeleteUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q89:Header" />
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetBalanceResult" nillable="true" type="q90:BalanceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q91:Header" />
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetAccountResult" nillable="true" type="q92:AccountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q93:Header" />
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetIdentityResult" nillable="true" type="q94:IdentityResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q95:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q96:Categories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q97:Header" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetCategoriesIdResult" nillable="true" type="q98:Categories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutionsId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q99:Header" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutionsIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetInstitutionsIdResult" nillable="true" type="q100:InstitutionsId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q101:Header" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetInstitutionsResult" nillable="true" type="q102:Institutions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q103:Header" />
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="greaterThanDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lessThanDate" nillable="true" type="xs:string" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="api" type="q104:ApiType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q105:TransactionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncome">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q106:Header" />
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetIncomeResult" nillable="true" type="q107:IncomeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q108:Header" />
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="password" nillable="true" type="q109:ArrayOfchar" />
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="webhookUri" nillable="true" type="xs:anyURI" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="api" type="q110:ApiType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="UpdateUserResult" nillable="true" type="q111:AuthResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q112:Header" />
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="upgradeTo" nillable="true" type="xs:string" />
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="options" nillable="true" type="q113:AddUserOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="UpgradeUserResult" nillable="true" type="q114:AuthResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q115:Header" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="cardallocation" nillable="true" type="q116:CardAllocationDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="CreateCardResult" nillable="true" type="q117:CardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q118:Header" />
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="carddetails" nillable="true" type="q119:UpdateCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="UpdateCardResult" nillable="true" type="q120:CardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q121:Header" />
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="carddetails" nillable="true" type="q122:DeleteCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="DeleteCardResult" nillable="true" type="q123:CardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q124:Header" />
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="card_transactions" nillable="true" type="q125:CardTransactions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetCardTransactionResult" nillable="true" type="q126:CardTransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q127:Header" />
        <xs:element minOccurs="0" name="card_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetCardDetailsResult" nillable="true" type="q128:CardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCardLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q129:Header" />
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="card_link" nillable="true" type="q130:CardLinkDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCardLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="SetCardLinkResult" nillable="true" type="q131:CardLinkResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCardAllowance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q132:Header" />
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="allowance" nillable="true" type="q133:Allowance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCardAllowanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="SetCardAllowanceResult" nillable="true" type="q134:AllowanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q135:Header" />
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="department" nillable="true" type="q136:CardSection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="SetDepartmentResult" nillable="true" type="q137:CardSectionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q138:Header" />
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="category" nillable="true" type="q139:CardSection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="SetCategoryResult" nillable="true" type="q140:CardSectionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q141:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetCardAccountResult" nillable="true" type="q142:CardAccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q143:Header" />
        <xs:element minOccurs="0" name="account_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end_date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="line_number_gt" type="xs:int" />
        <xs:element minOccurs="0" name="line_number_lt" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetAccountStatementResult" nillable="true" type="q144:AccountTransactionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q145:Header" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetDepartmentResult" nillable="true" type="q146:CardSectionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q147:Header" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetCategoryResult" nillable="true" type="q148:CardSectionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinkStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q149:Header" />
        <xs:element minOccurs="0" name="link_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinkStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetLinkStatusResult" nillable="true" type="q150:CardLinkResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPaymentPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q151:Header" />
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="plan" nillable="true" type="q152:PlanDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPaymentPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="SetPaymentPlanResult" nillable="true" type="q153:PlanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q154:Header" />
        <xs:element minOccurs="0" name="start_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end_date" type="xs:dateTime" />
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="report_status" type="q155:ReportStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetReportResult" nillable="true" type="q156:ReportResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q157:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="GetMasterDetailsResult" nillable="true" type="q158:MasterDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q159:Header" />
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="registrationDetails" nillable="true" type="q160:Registration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="SetMerchantResult" nillable="true" type="q161:RegistrationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AchCanAccountPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="header" nillable="true" type="q162:Header" />
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="achaccountdetails" nillable="true" type="q163:AchCanAccountDetails" />
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="billingaddress" nillable="true" type="q164:BillingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AchCanAccountPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/BancHub" minOccurs="0" name="AchCanAccountPaymentResult" nillable="true" type="q165:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>